body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 23%, 16%);
}


.advice-button {
  height: 40px;
  width: 40px;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
}

.advice-container {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.advice-number {
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
}

.advice-text {
  color: hsl(216, 44%, 75%);
  font-size: 1.8rem;
}